<h1>Jonny Arnold.</h1>

<ul class="timeline">
  <% timeline.each do |event| %>
    <li class='<%= event.type %>'>
      <span class='date'><%= event.date.to_s %></span>
      <span class='divider'>&nbsp;</span>
      <% if event.url %>
        <a class='description' href='<%= event.url %>'><%= event.description %></a>
      <% else %>
        <span class='description'><%= event.description %></span>
      <% end %>
    </li>
  <% end %>
</ul>
